*.log
wordpress/wp-content/*
!wordpress/wp-content/plugins/
!wordpress/wp-content/themes/

wordpress/wp-content/plugins/hello.php
wordpress/wp-content/plugins/akismet/

wordpress/wp-content/themes/twentyfifteen/
wordpress/wp-content/themes/twentyseventeen/
wordpress/wp-content/themes/twentysixteen/

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

